In [1]:
import numpy as np
import pandas as pd

In [2]:
df  = pd.read_csv("Dataset.csv")
df.head()

,Unnamed: 0,x_1,x_109,x_113,x_12,x_124,x_127,x_144,x_16,x_18,...,x_73,x_77,x_78,x_8,x_80,x_83,x_89,x_91,x_99,y
0,0,5099,1,5,156,35,-2,1,40,999,...,0.11,629,14,487,-0.31,115,0.02,-0.10,-0.49,0
1,1,5191,0,1,164,16,1,5,4,999,...,0.11,509,26,346,-0.31,317,0.02,0.24,-0.21,0
2,2,5228,1,0,774,75,1,5,12,999,...,0.11,1058,30,227,-0.31,464,0.02,-0.10,-0.21,0
3,3,5228,1,1,747,4,1,5,69,999,...,0.11,1048,4,17,-0.31,39,-0.18,-0.10,-0.21,0
4,4,5196,1,5,29,28,0,4,32,999,...,0.11,993,22,58,-0.31,492,0.02,-0.10,0.21,0

In [7]:
df.shape

(4119, 42)

In [4]:
df['y'].value_counts()

y
0    3668
1     451
Name: count, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4119 non-null   int64
 1   x_1         4119 non-null   int64
 2   x_109       4119 non-null   int64
 3   x_113       4119 non-null   int64
 4   x_12        4119 non-null   int64
 5   x_124       4119 non-null   int64
 6   x_127       4119 non-null   int64
 7   x_144       4119 non-null   int64
 8   x_16        4119 non-null   int64
 9   x_18        4119 non-null   int64
 10  x_2         4119 non-null   int64
 11  x_25        4119 non-null   int64
 12  x_27        4119 non-null   int64
 13  x_28        4119 non-null   int64
 14  x_30        4119 non-null   int64
 15  x_33        4119 non-null   float64
 16  x_38        4119 non-null   float64
 17  x_42        4119 non-null   int64
 18  x_44        4119 non-null   int64
 19  x_45        4119 non-null   float64
 20  x_52        4119 non-null   int64
 21  x_55        4119 non-null   float64
 22  x_57        4119 non-null   float64
 23  x_59        4119 non-null   int64
 24  x_60        4119 non-null   int64
 25  x_62        4119 non-null   float64
 26  x_64        4119 non-null   int64
 27  x_67        4119 non-null   int64
 28  x_68        4119 non-null   float64
 29  x_7         4119 non-null   int64
 30  x_70        4119 non-null   int64
 31  x_71        4119 non-null   int64
 32  x_73        4119 non-null   float64
 33  x_77        4119 non-null   int64
 34  x_78        4119 non-null   int64
 35  x_8         4119 non-null   int64
 36  x_80        4119 non-null   float64
 37  x_83        4119 non-null   int64
 38  x_89        4119 non-null   float64
 39  x_91        4119 non-null   float64
 40  x_99        4119 non-null   float64
 41  y           4119 non-null   int64
dtypes: float64(12), int64(30)
memory usage: 1.3 MB

In [10]:
df.dropna()

,Unnamed: 0,x_1,x_109,x_113,x_12,x_124,x_127,x_144,x_16,x_18,...,x_73,x_77,x_78,x_8,x_80,x_83,x_89,x_91,x_99,y
0,0,5099,1,5,156,35,-2,1,40,999,...,0.11,629,14,487,-0.31,115,0.02,-0.10,-0.49,0
1,1,5191,0,1,164,16,1,5,4,999,...,0.11,509,26,346,-0.31,317,0.02,0.24,-0.21,0
2,2,5228,1,0,774,75,1,5,12,999,...,0.11,1058,30,227,-0.31,464,0.02,-0.10,-0.21,0
3,3,5228,1,1,747,4,1,5,69,999,...,0.11,1048,4,17,-0.31,39,-0.18,-0.10,-0.21,0
4,4,5196,1,5,29,28,0,4,32,999,...,0.11,993,22,58,-0.31,492,0.02,-0.10,0.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,4114,5228,1,5,197,82,1,5,6,999,...,0.11,672,23,53,-0.31,474,-0.07,-0.10,0.21,0
4115,4115,5228,1,5,949,72,1,5,2,999,...,0.11,1058,6,219,-0.31,475,0.02,-0.10,0.21,0
4116,4116,5099,1,1,478,41,-2,1,25,999,...,0.11,1240,16,64,0.35,210,0.02,0.24,0.93,0
4117,4117,5228,1,0,554,36,1,5,68,999,...,0.11,1152,21,528,-0.31,49,0.02,-0.10,0.21,0
4118,4118,5196,1,0,143,26,0,4,21,999,...,0.11,355,28,175,-0.31,352,0.02,0.24,-0.16,0

In [38]:
# Import modules
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [19]:
X = df.drop('y', axis=1)
y = df['y'].values

In [20]:
X.shape

(4119, 41)

In [24]:
y.shape

(4119,)

In [26]:
# Create train and test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 48, stratify=y) 

# Scale data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [35]:
# Instantiate Estimator
logReg = LogisticRegression(class_weight = "balanced")

selector = RFECV(logReg, step=1, cv=5, scoring="roc_auc") # selection result depends on selected metric 
selector = selector.fit(X_train, y_train)
print("\nWhich variables should be selected? ", selector.support_)
print("\nRanking of the variables: ", selector.ranking_)
# print("\nGrid search scores: ", selector.grid_scores_)

Which variables should be selected?  [False  True False False False False  True  True False  True False  True
  True  True False  True  True False  True  True  True False  True  True
  True False  True  True False False False False False False False  True
 False  True  True  True  True]

Ranking of the variables:  [ 4  1 19 17  7  2  1  1  8  1 16  1  1  1 13  1  1 15  1  1  1  6  1  1
  1 11  1  1  9  5 12 20  3 18 10  1 14  1  1  1  1]

In [36]:
RFECV_imp = selector.ranking_

In [32]:
# rf1 = RandomForestClassifier(criterion="entropy", max_depth=10, n_estimators= 145, class_weight="balanced")


# selector = RFECV(rf1, step=1, cv=5, scoring="roc_auc") # selection result depends on selected metric 
# selector = selector.fit(X_train, y_train)
# print("\nWhich variables should be selected? ", selector.support_)
# print("\nRanking of the variables: ", selector.ranking_)

In [39]:
# Specify possible hyperparameters 
parameters = {
    'criterion':['gini','entropy'],
    'max_depth':[10,11,12],
    "n_estimators": np.arange(90, 200, 3) # when all numbers from 1 to 200 are searched we get the same result 
}
# Instantiate GridSearchCV object
cross_validation = StratifiedKFold(n_splits=5, random_state=99, shuffle = True)
gs_cv = GridSearchCV(RandomForestClassifier(), parameters, scoring="roc_auc", cv=cross_validation,  verbose=3, n_jobs=-1)

# Fit to training set
gs_cv.fit(X_train, y_train)

print("Tuned Model Parameters: {}".format(gs_cv.best_params_))

Fitting 5 folds for each of 222 candidates, totalling 1110 fits
Tuned Model Parameters: {'criterion': 'entropy', 'max_depth': 12, 'n_estimators': 189}

In [33]:
# Create a Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the model to the training data
rf_classifier.fit(X,y)

# Get feature importances
feature_importances = rf_classifier.feature_importances_

# Create a DataFrame to store feature names and their importances
feature_importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': feature_importances})

# Sort the DataFrame by importance in descending order
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

# Select the top 20 features
top_20_features = feature_importance_df.head(20)

# Display the top 20 features
print(top_20_features)

       Feature  Importance
35         x_8    0.206433
1          x_1    0.060744
15        x_33    0.032891
37        x_83    0.032243
9         x_18    0.031985
0   Unnamed: 0    0.031976
36        x_80    0.031862
11        x_25    0.031777
13        x_28    0.031727
22        x_57    0.031026
4         x_12    0.030272
18        x_44    0.029905
33        x_77    0.028714
30        x_70    0.028256
8         x_16    0.027560
29         x_7    0.026756
23        x_59    0.025675
5        x_124    0.025543
17        x_42    0.024804
6        x_127    0.024496

In [34]:
feature_importance_df

       Feature  Importance
35         x_8    0.206433
1          x_1    0.060744
15        x_33    0.032891
37        x_83    0.032243
9         x_18    0.031985
0   Unnamed: 0    0.031976
36        x_80    0.031862
11        x_25    0.031777
13        x_28    0.031727
22        x_57    0.031026
4         x_12    0.030272
18        x_44    0.029905
33        x_77    0.028714
30        x_70    0.028256
8         x_16    0.027560
29         x_7    0.026756
23        x_59    0.025675
5        x_124    0.025543
17        x_42    0.024804
6        x_127    0.024496
34        x_78    0.021832
10         x_2    0.019150
40        x_99    0.018973
7        x_144    0.018919
16        x_38    0.013750
20        x_52    0.011645
25        x_62    0.011195
28        x_68    0.010626
12        x_27    0.010446
24        x_60    0.010322
3        x_113    0.010020
39        x_91    0.007506
19        x_45    0.006033
21        x_55    0.005585
31        x_71    0.004991
26        x_64    0.004453
38        x_89    0.004425
2        x_109    0.004201
27        x_67    0.004160
14        x_30    0.003924
32        x_73    0.003200

In [37]:
feature_importance_df['RFECV'] = RFECV_imp
feature_importance_df

       Feature  Importance  RFECV
35         x_8    0.206433      4
1          x_1    0.060744      1
15        x_33    0.032891     19
37        x_83    0.032243     17
9         x_18    0.031985      7
0   Unnamed: 0    0.031976      2
36        x_80    0.031862      1
11        x_25    0.031777      1
13        x_28    0.031727      8
22        x_57    0.031026      1
4         x_12    0.030272     16
18        x_44    0.029905      1
33        x_77    0.028714      1
30        x_70    0.028256      1
8         x_16    0.027560     13
29         x_7    0.026756      1
23        x_59    0.025675      1
5        x_124    0.025543     15
17        x_42    0.024804      1
6        x_127    0.024496      1
34        x_78    0.021832      1
10         x_2    0.019150      6
40        x_99    0.018973      1
7        x_144    0.018919      1
16        x_38    0.013750      1
20        x_52    0.011645     11
25        x_62    0.011195      1
28        x_68    0.010626      1
12        x_27    0.010446      9
24        x_60    0.010322      5
3        x_113    0.010020     12
39        x_91    0.007506     20
19        x_45    0.006033      3
21        x_55    0.005585     18
31        x_71    0.004991     10
26        x_64    0.004453      1
38        x_89    0.004425     14
2        x_109    0.004201      1
27        x_67    0.004160      1
14        x_30    0.003924      1
32        x_73    0.003200      1